@media all and (max-width: 1660px ) {
    .container {
        width: 1400px;
    }

    .info-list li {
        margin: 0 0 16px 0;
    }
    .info-list li p {
        width: 320px;
    }

    h1 {
        padding: 0 220px;
        margin: 160px 0 30px 0;
        font-size: 60px;
        background: url(../../img/G.svg) no-repeat 670px 0;
        background-size: 400px;
    }

    .our-programm-3 ul li {
        padding: 30px 15px 30px 30px;
        margin: 0 0 10px 0;
    }

    .info-list {

    }
    .block-3 h2{
        padding: 0 410px;
    }
    .block-6 h2{
        padding: 0 260px;
    }
    .block-7 h2{
        background: url(../../img/G.svg)no-repeat 590px 0;
    }
    .block-7 ul{
        justify-content: space-around;
        margin: 0;
    }
    .block-7 ul li:nth-child(8) {
        margin-right: 0;
    }
    .block-8 h2{
        background: url(../../img/check.svg)no-repeat 270px 10px;
    }


}

@media all and (max-width: 1400px) {
    .container {
        width: 1000px;
    }

    .header {
        display: none;
    }

    .logo-adapt {
        display: block;
        padding: 0 0 0 20px;
    }

    h1 {
        background: url(../../img/G.svg) no-repeat 470px 0;
        background-size: 400px;
        padding: 0;
    }

    .info-list {
        padding: 0;
        margin: 30px 0;
    }
    .info-list li {
        margin: 0 10px 16px;
        width: 216px;
        padding: 14px 12px;
    }
    .info-list li p {
        width: 216px;
        font-size: 16px;
    }

    .our-programm-3 ul li {
        padding: 20px 15px;
    }

    .our-programm-3 {
        display: none;
    }

    .our-programm-3-adapt {
        display: block;
        margin: 30px 0 0 0;
    }

    .our-programm-3-adapt ul {
        display: flex;
        justify-content: space-between;
    }
    .block-3 h2 {
        padding: 0px 200px;
    }
    .block-6 h2{
        padding: 0 70px;
    }
    .block-7 h2{
        background: url(../../img/G.svg)no-repeat 400px 0;
    }
    .block-7 ul{
        justify-content: space-between;
    }
    .block-7 h4{
        font-size: 18px;
    }
    .block-7 ul li{
        width: 260px;
        padding: 0;
    }
    .block-7 ul li:nth-child(8) {
        width: 385px;
        margin-right: 0;
    }
    .block-7 ul li:nth-child(8) img {
        width: 360px;
    }
    .block-8 h2 {
        background: url(../../img/check.svg)no-repeat 60px 10px;
        padding: 20px 40px;
    }
    .social {
        padding: 50px 0 0 0;
    }

    .footer-programms {
        order: 1;
        width: 688px;
    }
    .footer-info{
        flex-wrap: wrap;
        margin: 60px 0 0;
    }

    .footer-info h4 {
        padding: 20px 0;
    }
}

@media all and (max-width: 1000px) {
    .container {
        width: 768px;
    }

    h1 {
        font-size: 32px;
        padding: 0 130px;
        background: url(../../img/G.svg) no-repeat 350px 0px;
        background-size: 250px;
        margin: 60px 0 40px 0;
    }

    .info-list {
        margin: 30px 0;
        justify-content: center;
    }

    .info button {
        display: none;
    }
    .block-2 {
        margin: 140px 0 0 0;
    }
    .block-2 h2 {
        font-size: 32px;
    }

    .our-programm-2 img {
        width: 360px;
        height: auto;
        margin: 70px 0 0 0;
    }

    .block-2 p {
        font-size: 16px;
    }
    .more-details button{
        padding: 14px 30px;
        margin: 20px 0 0 0;
    }
    .block-3 h2{
        padding: 0 210px;
        font-size: 24px;
    }
    .block-3 p{
        padding: 0 170px;
    }
    .data{
        margin: 25px auto 0;
    }
    .data input{
        margin: 0 15px 20px;
    }
    .send{
        margin: 0;
    }
    form button{
        padding: 14px 30px;
    }
    .block-4 h2{
        font-size: 32px;
    }
    .block-5 h2{
        font-size: 32px;
    }
    .block-6 h2{
        font-size: 32px;
        padding: 0 100px;
    }
    .block-6 .application{
        margin: 20px 0;
    }
    .block-6 .application button{
        padding: 14px 30px;
    }
    .block-7 h2{
        font-size: 32px;
        padding: 30px;
        background: url(../../img/G.svg)no-repeat 320px 30px;
        background-size: 200px;
        margin: 0;
    }
    .block-7 ul {
        justify-content: space-around;
        text-align: center;
    }
    .block-7 ul li:nth-child(1),
    .block-7 ul li:nth-child(2),
    .block-7 ul li:nth-child(3),
    .block-7 ul li:nth-child(4),
    .block-7 ul li:nth-child(5),
    .block-7 ul li:nth-child(6),
    .block-7 ul li:nth-child(7){
        background-position: 50px 0;
    }
    .block-8 h2 {
        padding: 20px 40px;
        font-size: 24px;
        background: url(../../img/check.svg)no-repeat 70px 10px;
        background-size: 62px;
    }
    .block-8 p{
        padding: 0 120px 40px;
    }
    .block-8 input{
        padding: 14px 100px 14px 20px;
    }
    .social {
        padding: 20px 0 0 0;
    }

    .footer-contacts {
        width: 334px;
    }


    .footer p {
        font-size: 16px;
    }

    .info-for-our {
        width: 398px;
    }

    .footer-programms {
        width: 220px;
    }
    .footer-info div{
        width: 290px;
    }
}

@media all and (max-width: 768px) {
    .container {
        width: 600px;
    }

    .logo-adapt img {
        width: 136px;
    }

    h1 {
        background: url(../../img/G.svg) no-repeat 170px 40px;
        background-size: 250px;

    }

    .info-list {
        padding: 0 65px;
        margin: 30px 0;
    }
    .our-programm-1 {
        text-align: center;
        margin: 0 auto;
    }
    .our-programm-1 h3{
        font-size: 24px;
    }
    .block-2{
        margin: 0;
    }
    .block-2 p {
        font-size: 16px;
    }
    .our-programm-2{
        text-align: center;
        margin: 40px 0 0 0;
    }
    .our-programm-2 img{
        margin: 0 0 0 -70px;
        width: 410px;
    }
    .our-programm{
        display: block;
    }
    .block-3 h2{
        padding: 0 130px;
    }
    .block-3 p{
        padding: 0 90px;
    }
    .data input{
        padding: 14px 100px 14px 20px;
    }
    .block-6 h2{
        padding: 0 70px;
    }
    .block-7 h2{
        background: url(../../img/G.svg)no-repeat 240px 30px;
        background-size: 200px;
        padding: 30px 0 10px;
    }
    .block-8 h2{
        background: url(../../img/check.svg)no-repeat 50px 10px;
        background-size: 62px;
    }
    .footer-menu {
        order: 1;
    }
    .footer-info{
        justify-content: center;
    }

}

@media all and (max-width: 600px) {
    .container {
        width: 320px;
    }

    h1 {
        padding: 0;
        background: url(../../img/G.svg) no-repeat 50px 30px;
        background-size: 250px;
    }
    .our-programm-1 h3{
        margin: 0;
    }
    .block-3 h2{
        padding: 0;
    }
    .block-3 p{
        padding: 0;
    }
    .block-6 h2{
        padding: 0;
    }
    .block-7 h2{
        background: url(../../img/G.svg)no-repeat 120px 30px;
        background-size: 200px;
        padding: 30px 0 0;
    }
    .block-7 ul li:nth-child(8) {
        margin-left: -20px;
    }
    .block-8 h2{
        background: none;
    }
    .block-8 p{
        padding: 0 0 20px;
    }
    .footer {
        padding: 0 0 0 10px;
    }
    .social {
        padding: 100px 0 0 0;
    }

    .info-for-our {
        width: 300px;
    }

}
