*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}
body{
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;

}
a{
    text-decoration: none;
}
.container{
    width: 1680px;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
h2{
    font-size: 60px;
}
h1, h2, h3, h4,h5{
    font-weight: 600;
    color: #2B2C54;
}
p{
    color: #686887;
}