@media all and (max-width: 1700px) {
  .container1 {
    max-width: 1480px;
  }
}

@media all and (max-width: 1510px) {
  .container1 {
    max-width: 1330px;
  }
  .container1 ul {
    flex-wrap: wrap;
  }
  .container1 ul li {
    margin-bottom: 70px;
  }
  article h1 {
    margin-top: 20px;
  }
  .head-img {
    flex-wrap: wrap;
    top: -422px;
  }
  .head-img :nth-child(4) {
    margin-top: 43px;
  }
  nav ul {
    width: 715px;
  }
  nav {
    justify-content: space-evenly;
  }
  #program {
    width: 360px;
  }
  .main-container {
    max-width: 1210px;
    margin: 0 auto;
  }
  footer .carousel {
    max-width: 1920px;
  }
}

@media all and (max-width: 1145px) {
  .container1 {
    max-width: 768px;
  }
  .container1 ul li {
    width: 216px;
    height: 64px;
  }
  article h1 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
  }
  h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
  }
  .carousel-inner {
    padding: 0%;
  }
  .block-6 h2 {
    padding: 0%;
  }
  .text-area ul li {
    margin-bottom: 20px;
  }
  .main-container button {
    width: 153px;
    height: 44px;
    margin-top: 40px;
  }
  .car {
    gap: 0;
  }
  .head-img {
    top: -328px;
  }
  .head-img :nth-child(4) {
    margin-top: 50px;
  }

  .head-img img {
    width: 216.66px;
    height: 85.33px;
  }
  .container1 ul li {
    padding-top: 6px;
  }
  nav ul {
    display: none;
  }
  .program-button {
    display: none;
  }
  .program-button2 {
    display: flex;
    margin-bottom: 25px;
    gap: 5px;
  }
  #program {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  .program-button4 {
    display: flex;
    width: 1920px;
    overflow-x: scroll;
  }
  .program-button3 {
    display: flex;
  }
  #program {
    width: 220px;
    height: 59px;
  }
  .program-button4 {
    overflow-x: auto;
  }
  .program-button5 {
    overflow-x: auto;
    padding-bottom: 10px;
  }
  .program-button6 {
    width: 1920px;
    display: flex;
    gap: 14px;
  }
  .program-button3 {
    width: 1920px;
    display: flex;
  }
}

@media all and (min-width: 1146px) {
  .program-button5 {
    display: none;
  }
}

@media all and (max-width: 920px) {
  .container1 {
    max-width: 648px;
  }
  .head-img :nth-child(4) {
    margin-top: -4px;
  }
  .form form {
    display: grid;
  }
  .card {
    width: 334px;
    height: 237px;
  }
  .carousel {
    width: 1165px;
  }
  .form-control {
    width: 334px;
    height: 46px;
  }
  .form h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
  }
  .form p {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
  }
  main {
    margin-top: -108px;
  }
  main h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
  }
  .container1 ul li {
    margin-bottom: 12px;
  }
  .head-img {
    top: -81px;
  }
  .info {
    display: none;
  }
  .container1 ul {
    margin-bottom: -65px;
  }
  .head-img {
    top: -100px;
  }
  .head-img img {
    width: 200px;
  }
  .container1 ul li {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* body {
    background-size: 768px 1020px;
  } */
  nav {
    justify-content: space-between;
  }
  article h1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  main h1 {
    margin-bottom: 30px;
    margin-top: 80px;
  }
  .program-button5 {
    margin-bottom: 25px;
  }
  .pic img {
    width: 440px;
  }
  .main-container p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  .main-container {
    margin-bottom: 140px;
  }
  .form form {
    gap: 0;
  }
  .main-container button {
    margin: 0%;
  }
  .review h1 {
    margin-top: 60px;
  }
  .program-button4 {
    overflow-x: auto;
  }
  .program-button5 {
    overflow-x: auto;
    padding-bottom: 10px;
  }
  .program-button6 {
    width: 1920px;
    display: flex;
    gap: 14px;
  }
  .program-button3 {
    width: 1920px;
    display: flex;
  }
}
